<section data-bs-version="5.1" class="menu menu2 cid-tG84S5dVcS" once="menu" id="menu2-6">
    <nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
        <div class="container">
            <div class="navbar-brand">
                <span class="navbar-caption-wrap"><a class="navbar-caption text-black display-7">COLOC SERVICE</a></span>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-bs-toggle="collapse" data-target="#navbarSupportedContent" data-bs-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <div class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true"><li class="nav-item dropdown">
                        <a class="nav-link link text-black dropdown-toggle display-4" data-toggle="dropdown-submenu" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                            <span class="mobi-mbri mobi-mbri-globe-2 mbr-iconfont mbr-iconfont-btn"></span>Langue</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown-244">
                            <a class="text-black dropdown-item display-4" href="https://mobiri.se">Français&nbsp;</a>
                            <a class="text-black show dropdown-item display-4" href="https://mobiri.se">English</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</section>
