<!DOCTYPE html>
<html lang="fr">
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="assets/web/assets/mobirise-icons2/mobirise2.css">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="assets/animatecss/animate.css">
    <link rel="stylesheet" href="assets/dropdown/css/style.css">
    <link rel="stylesheet" href="assets/socicon/css/styles.css">
    <link rel="stylesheet" href="assets/theme/css/style.css">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap"></noscript>
    <link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
  </head>
  <body>
  <%- include('./components/navbar.ejs'); %>

  <section data-bs-version="5.1" class="header6 cid-tGcn3E9df3" id="header6-17">
    <div class="mbr-overlay" style="opacity: 0.2; background-color: rgb(0, 0, 0);"></div>
    <div class="align-center container">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-10">
          <h1 class="mbr-section-title mbr-fonts-style mbr-white mb-3 display-1"><strong>COLOCATION 1ER ÉTAGE</strong></h1>
          <p class="mbr-text mbr-white mbr-fonts-style display-5">📍&nbsp;<strong>56 RUE DE FORBIN 13002 MARSEILLE&nbsp;</strong></p>
          <div class="mbr-section-btn mt-3">
            <a class="btn btn-info display-4" href="/etage1">VISITER</a></div>
        </div>
      </div>
    </div>
  </section>

  <section data-bs-version="5.1" class="header6 cid-tGcn4g7TQm" id="header6-18">
    <div class="mbr-overlay" style="opacity: 0.3; background-color: rgb(0, 0, 0);"></div>
    <div class="align-center container">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-10">
          <h1 class="mbr-section-title mbr-fonts-style mbr-white mb-3 display-1"><strong>COLOCATION 5ÈME ÉTAGE</strong></h1>
          <p class="mbr-text mbr-white mbr-fonts-style display-5">📍&nbsp;<strong>56 RUE DE FORBIN 13002 MARSEILLE
            </strong></p>
          <div class="mbr-section-btn mt-3"><a class="btn btn-info display-4" href="/etage5">VISITER</a></div>
        </div>
      </div>
    </div>
  </section>

  <section data-bs-version="5.1" class="footer7 cid-tG8lCpOiV5" once="footers" id="footer7-16">
    <div class="container">
      <div class="media-container-row align-center mbr-white">
        <div class="col-12">
          <p class="mbr-text mb-0 mbr-fonts-style display-7">
            © Copyright 2023 - SCI JACOB - 11 Av. Jacques Prévert 13730 Saint-Victoret</p>
        </div>
      </div>
    </div>
  </section>

  <script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/smoothscroll/smooth-scroll.js"></script>
  <script src="assets/ytplayer/index.js"></script>
  <script src="assets/dropdown/js/navbar-dropdown.js"></script>
  <script src="assets/theme/js/script.js"></script>
  <input name="animation" type="hidden">
  </body>
</html>
